<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <title>Data Analysis on Attraction Visitor Flows</title>
</head>
<frameset rows="78,*" id="farm" name="farm" framespacing=0 frameborder=0 border=0>
    <frame name="top" src="top" scrolling="no" marginheight="0" marginwidth="0">
    <frameset cols="100,*" framespacing=10 frameborder=0 border=0>
        <frame name="menu" src="menu" id="menu" marginheight="0" marginwidth="0">
        <frame name="workspace" src="default"  id="workspace" scrolling="no" marginheight="0" marginwidth="0">
    </frameset>
</frameset>
</html>