<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
	#top_content{
		color: #faf017;
		font-size:30px;
        position: absolute;
        font-family: "黑体", serif;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 30px;
        word-spacing: 10px;
	}

</style>
</head>
<body>
<div id="top">
    <span id="top_content">Data Analysis On Attraction Visitor Flows</span>
    <img src="/static/css/images/sun.png" alt="" style="height: 140%;position: absolute;right: 50px;top: -15%;">
    <img src="/static/css/images/banner2.png" style="width: 100%;" alt="">

</div>
</body>
</html>